In [2]:
import pandas as pd

data_series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print("Pandas Series:\n", data_series)

data_frame = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})
print("\nPandas DataFrame:\n", data_frame)

Pandas Series:
 a    1
b    2
c    3
d    4
e    5
dtype: int64

Pandas DataFrame:
    A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [3]:
print("\nElement at index 'b':", data_series['b'])

print("\nSeries after adding 10:\n", data_series + 10)
print("\nSeries after multiplying by 2:\n", data_series * 2)

print("\nSeries after applying a lambda function (x^2):\n", data_series.apply(lambda x: x**2))

Element at index 'b': 2

Series after adding 10:
 a    11
b    12
c    13
d    14
e    15
dtype: int64

Series after multiplying by 2:
 a     2
b     4
c     6
d     8
e    10
dtype: int64

Series after applying a lambda function (x^2):
 a     1
b     4
c     9
d    16
e    25
dtype: int64

In [4]:
print("\nColumn 'A':\n", data_frame['A'])

print("\nRow with index 1:\n", data_frame.loc[1])

print("\nRow at position 2:\n", data_frame.iloc[2])

data_frame['D'] = data_frame['A'] + data_frame['B']
print("\nDataFrame after adding a new column 'D':\n", data_frame)

data_frame_dropped = data_frame.drop('D', axis=1)
print("\nDataFrame after dropping column 'D':\n", data_frame_dropped)

Column 'A':
 0    1
1    2
2    3
3    4
Name: A, dtype: int64

Row with index 1:
 A     2
B     6
C    10
Name: 1, dtype: int64

Row at position 2:
 A     3
B     7
C    11
Name: 2, dtype: int64

DataFrame after adding a new column 'D':
    A  B   C   D
0  1  5   9   6
1  2  6  10   8
2  3  7  11  10
3  4  8  12  12

DataFrame after dropping column 'D':
    A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12